<!--text-->
<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 text-pink align-items-center mt-3">
          <p class="ft-20">aiodsfhoiasdhfoishadf</p>
          <!--Postagens-->
        </div>
      </div>
    </div>
    <!--/text-->

    <!--img-->
    <div class="col-md-6 d-flex justify-content-center">
      <img
        class="art-img-fluid mt-3"
        src="\assets\art-header.png"
        alt=""
        height="450px"
        width="400px"
      />
    </div>
  </div>
</div>
<!--/img-->
