<div class="container-fluid">
  <div class="row d-flex align-items-center text-pink mt-3">
    <div class="col-md-8 ">
      <h1>Ana Luiza Lamas</h1>
      <p class="ft-20">
        Olá! Me chamo Ana Luiza (mais conhecida como Nalu), nasci em 1997 e sou
        de São Paulo, capital. Trabalhei como confeiteira, fui líder de cozinha
        por 1 ano e 6 meses, sempre dei o meu melhor, mas parecia que ainda
        havia desafios fora da área. Depois que saí do ramo de confeitaria, tive
        certeza que meu próximo passo seria dentro da área de tecnologia, e
        comecei a procurar formas de me especializar.<br />
        Fiz um curso profissionalizante de design de games em 2018 onde aprendi
        modelagem 3D, texturização, Rigging, programação por blueprint
        utilizando a Unreal Engine, e lá desenvolvi meu primeiro jogo em Third
        Person.<br />
        Recentemente me formei no bootcamp da Generation (Abril de 2022) onde
        aprendi Java, Spring, Banco de dados, Angular e Bootstrap, fazendo a
        integração e consumo completo do CRUD. Aprimorei algumas soft skills
        como persistência, proatividade, trabalho em grupo e comunicação. E
        assim me tornei uma desenvolvedora full stack jr. <br />
        Pretendo continuar aprimorando meus conhecimentos trabalhando e tenho
        planos de fazer faculdade de ADS. Gostaria de iniciar a graduação assim
        que me sentisse confortavel financeiramente.<br />
        Tenho conhecimento intermediário em inglês, desenvolvido na Wizard onde
        estudei por dois anos e aprimorado em videogames. Sou tatuadora há 6
        anos, o que amo de paixão e pretendo conciliar com a carreira da
        tecnologia, e se precisarem de mais para serem convencidos, fica o
        convite para provar meu brownie.
      </p>
    </div>
    <!--img-->
    <div class="col-md-4 d-flex justify-content-center container-fluid">
      <img
        class="art-img-fluid mt-3"
        src="\assets\art-header.png"
        alt=""
        height="450px"
        width="400px"
      />
    </div>
    <!--/img-->
  </div>
</div>
