<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-md-12 d-flex justify-content-left">
      <img class="img-fluid mt-3" src="\assets\naluimg.jpg" alt="" />
    </div>
  </div>
</div>

<div class="col-md-6">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/0SD_yduSGg4"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
