<div class="container-fluid">
  <div class="row mt-5 align-items-center">
    <div class="col-md-6 d-flex justify-content-center">
      <!--Video-->
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/0SD_yduSGg4"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <!--/Video-->

    <div class="col-md-6 d-flex justify-content-center">
      <div class="col-md-10">
        <h1 class="d-flex justify-content-center">Sonhos em Vida</h1>
        <p>
          Este foi meu primeiro projeto como game designer. Inspirado em um
          sonho, Sonhos em Vida começou a ganhar estrutura quando comecei a
          cursar design de games na Microcamp (Londrina), onde aprendi a modelar
          3D, texturizar e programar utilizando a Unreal Engine. O jogo tem como
          personagem principal a
          <a
            href="https://sketchfab.com/3d-models/margo-d8c6697f38604f2da853e609b7c0beb4"
            >Margo</a
          >
          que precisava derrotar seu maior inimigo
          <a
            href="https://sketchfab.com/3d-models/enokh-302b7b6625934ab19f4c7a6b40c750e0"
            >Énokh</a
          >. Fique a vontade para clicar nos nomes e assim visualizar os modelos
          3D dos personagens. Quanto ao códido, por motivos técnicos, acabei
          perdendo tudo, tenho intenção sim de refazer e assim aplicar tudo que
          aprendi até agora, tenho certeza que a versão 2.0 ficará linda! Eu
          tinha intenção de lançar o jogo para PC e Mobile. Não era um jogo
          longo, já que construi ele todo pensando em mostrar o que sei. Falando
          em construção, Toda a texturização, modelagens 3D, partículas, código
          foram feitas por mim, utilizando o que eu aprendia em aula, pesquisas
          e muitas mensagens para os meus queridos professores
          <a
            href="https://www.linkedin.com/in/alisson-fernando-rocha-trindade-847a6111b/"
            >Alisson Rocha</a
          >
          e
          <a
            href="https://www.linkedin.com/in/matheus-alexander-guandalini-345106113/"
            >Matheus Guandalini</a
          >. Rigging e animação consegui através do Mixamo e os efeitos sonoros
          encontrei em sites de download gratuito.
        </p>
      </div>
    </div>
  </div>
  <!--/Sonhos em vida-->
  <!--Feeling-->
  <div class="row mt-5">
    <div class="col-md-6 d-flex justify-content-center">
      <div class="col-md-10">
        <h1 class="d-flex justify-content-center">Feeling</h1>
        <p>
          TESTE TESTE TESTE TESTE TESTE TESTE TESTE TESTE TESTE TESTE TESTE
          TESTE TESTE TESTE TESTE TESTE TESTE TESTE TESTE TESTE
        </p>
      </div>
    </div>
    <!--/Imagem-->

    <div class="col-md-6 d-flex justify-content-center">
      <!--Imagem-->
      <img
        class="img-fluid"
        src="\assets\feeling.png"
        alt=""
        height="460px"
        width="400px"
      />
      <!--Imagem-->
    </div>
  </div>
  <!--/Feeling-->
</div>
