
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html {
  scroll-behavior: smooth;
}
/*Fonts*/
.ft-greatVibes{
  font-family: 'Great Vibes', cursive;
}

.ft-20 {
  font-size: 20px;
}

.ft-ubuntu{
  font-family: 'Ubuntu', sans-serif;
}

.ft-60 {
  font-size: 60px;
}
.fc {
  font-size: 23px;
  color: rgb(130, 35, 85);
  font-weight: 900;
}
/*scrollbar*/
::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background-color: #e147912c;
}

::-webkit-scrollbar-thumb{
  background-color: #e147915e;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover+{
  background-color: #ccc;
}

/*Backgrounds*/

.bg-curriculo{
  background-color: #ff99c421;
  border-radius: 2%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
