<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <h1 class="mt-5">Seja bem vindo(a) ao meu portfólio!</h1>
    </div>
  </div>
</div>
]
<div class="container-fluid">
  <div class="row d-flex align-items-top text-pink mt-3">
    <div class="col-md-8">
      <h1 class="d-flex justify-content-center">Ana Luiza Lamas de Andrade</h1>
      <div class="row d-flez justify-content-center mt-5 m-1">
        <div class="col-md-6">
          <p class="ft-20">
            <b class="fc">Profile</b><br />
            Sou iniciante na área de desenvolvimento, apta a desenvolver e fazer
            manutenção de programas, e tenho conhecimento em linguagens de
            programação Java, JavaScrip, HTML e banco de dados. Também atuei em
            projetos relacionados a redes sociais no meu Projeto Integrador da
            Generation Brasil. Possuo um perfil comunicativo que me permite ter
            um ótimo desempenho em trabalhos em equipe. Como desenvolvedora Jr.
            tenho habilidade de lógica de programação e isso me permite aprender
            novas linguagens.<br /><br />
            <b class="fc">Courses</b><br />
            <b>Desenvolvedor Full Stack Jr., Generation Brasil</b><br />
            Jan 2022 – Apr 2022 | São Paulo, Brasil<br /><br />
            <b>Git e Github: Controle e compartilhe seu código, Alura</b><br />
            Jan 2022 – Jan 2022<br /><br />
            <b>Java JRE e JDK, Alura</b><br />
            Jan 2022 – Jan 2022<br /><br />
            <b>Game Design, Microcamp</b><br />
            Jun 2017 – Feb 2019 | Londrina, Brasil<br /><br />
            <b>Wizard by Pearson, Wizard Language Institute</b><br />
            Jan 2014 – Aug 2015 | São Paulo, Brasil<br /><br />
            <b class="fc">Education</b><br />
            <b>CTS em Análise e desenvolvimento de sistemas,
            Descomplica</b><br />
            Jul 2022 – Jul 2024<br />
            Em andamento <br /><br />
            <b>Leopoldo Santana - Ensino médio</b><br />
            Dec 2014 | São Paulo, Brasil<br /><br />
          </p>
        </div>
        <div class="col-md-6">
          <div class="row">
            <p class="ft-20">
              <b class="fc">Professional Experience</b><br />
              <b>
                Auxiliar de confeitaria, Broo's Cookies</b> Aug 2019 – Dec 2019 | São Paulo,
                Brasil<br />
              Preparo de recheios e finalização de cookies<br />
              • Atendimento ao cliente;<br />
              • Utilizar técnicas de segurança na manipulação de alimentos;<br />
              <br />
              <b>Estágio de Confeitaria, Flamy</b> Apr 2019 – Jul 2019 | São Paulo, Brasil<br />
              • Organizar e preparar sobremesas com conhecimentos em confeitaria
              utilizando técnicas de segurança na manipulação de alimentos;
              <br />• Confeitar bolos, preparar massas e recheios.<br /><br />
              <b
                >Atendente, Sávio Sorvetes e Alimentos</b> Sep 2017 – Feb 2019 |
                Londrina, Brasil
              <br />
              • Representante da empresa como líder de confeitaria;<br />
              • Organizar e preparar sobremesas com conhecimentos em
              confeitaria;<br />• Utilizar técnicas de segurança na manipulação de
              alimentos.<br /><br />
              <b class="fc">Languages</b><br />
              Inglês - Intermediário<br />
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-5 d-flex justify-content-top container-fluid">
      <!--img-->
      <div class="img-fluid mt-5">
        <img
          class=""
          src="\assets\art-header.png"
          alt=""
          height="450px"
          width="400px"
        />
        <!--/img-->

        <div class="d-flex justify-content-center mt-3">
          <ul class="ml-auto">
            <i class="fa fa-birthday-cake" aria-hidden="true"> 1997</i>
          </ul>
        </div>

        <div class="d-flex justify-content-center">
          <ul class="ml-auto">
            <i class="fa fa-map-marker" aria-hidden="true"> São Paulo - SP </i>
          </ul>
        </div>

        <div class="d-flex justify-content-center">
          <ul class="ml-auto">
            <i class="fa fa-phone" aria-hidden="true"> (11) 960746777</i>
          </ul>
        </div>

        <div class="d-flex justify-content-center">
          <ul class="ml-auto">
            <i class="fa fa-envelope" aria-hidden="true">
              analu.lamas@yahoo.com.br</i
            >
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
