<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-md-6 d-flex justify-content-center">
      <img class="img-fluid mt-3" src="\assets\naluimg.jpg" alt=""  />
    </div>

    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 text-pink align-items-center mt-2">
          <p class="fs-54 ft-h1">
            Me chamo Ana Luiza, mas quase todo mundo me chama de 🌟 Nalu 🌟.
            Cresci no Paraná - região de Londrina - e atualmente moro em São Paulo, capital.
          </p>
                    <!--Postagens-->
        </div>
      </div>
    </div>
  </div>
</div>
