.img-fluid {
  background-image: url("../../assets/naluimg.jpg");
  border-radius: 50%;
  min-height: 695px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
