<style>
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Great+Vibes&family=Kanit:ital@1&family=Open+Sans:ital,wght@0,800;1,300;1,500&family=PT+Sans+Narrow&family=Raleway:ital,wght@1,100&family=Roboto+Mono:ital,wght@0,100;1,100&family=Source+Sans+Pro:ital,wght@1,200&display=swap');
  </style>
<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-md-6 d-flex justify-content-center">
      <img class="img-fluid mt-5" src="\assets\naluimg.jpg" alt=""  />
    </div>

    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 text-pink align-items-center mt-2">
          <h1>Ana Luiza Lamas</h1>
          <p class="fs-54 ft-h1 ft-1">
            Me chamo Ana Luiza, mais conhecida como 🌟 Nalu 🌟.
            Vou mostrar pra você um pouco sobre mim.
          </p>
                    <!--Postagens-->
        </div>
      </div>
    </div>
  </div>
</div>


